## This workflow installs the latest version of Terraform CLI and configures the Terraform CLI to authenticate using
##  AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY. These two environment variables need to exist as secret on the repository
## On pull request events, this workflow will run `terraform init`, and `terraform plan`.
## On push events to the "main" branch, `terraform apply` will be executed.
#
#
## TODO: When should we Setup Remote Bucket?
## On push to main we are deploying the staging version of the code
## On creation of a release we will deploy to production.
#
#name: 'Terraform'
#
#on:
#  push:
#    branches: [ "main", "terraform" ]
#  pull_request:
#
#permissions:
#  contents: read
#
#jobs:
#  remote-bucket-setup:
#    name: "Setup Remote Bucket"
#    runs-on: ubuntu-latest
#    environment: production
#
#    defaults:
#      run:
#        shell: bash
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      # --- ADD THIS STEP TO DEBUG ---
#      - name: List all files in the repository
#        run: ls -R
#      # -------------------------------
#      - name: grant permission to shell script
#        run: chmod +x ./scripts/bash/create_remote_bucket.sh
#      - name: Setup Remote Bucket
#        shell: bash
#        env:
#          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
#          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
#        run:
#          ./scripts/bash/create_remote_bucket.sh
#
#  terraform:
#    name: 'Terraform'
#    runs-on: ubuntu-latest
#    environment: production
#    needs: remote-bucket-setup
#    env:
#      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
#      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
#
#    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
#    defaults:
#      run:
#        shell: bash
#
#    steps:
#      # Checkout the repository to the GitHub Actions runner
#      - name: Checkout
#        uses: actions/checkout@v3
#
#      # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
#      - name: Setup Terraform
#        uses: hashicorp/setup-terraform@v1
#
#      # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
#      - name: Terraform Init
#        run: terraform init
#        working-directory: ./terraform
#
#      #    # Checks that all Terraform configuration files adhere to a canonical format
#      #    - name: Terraform Format
#      #      run: terraform fmt -check
#
#      # Generates an execution plan for Terraform
#      - name: Terraform Plan
#        run: terraform plan -input=false
#        working-directory: ./terraform
#
#        # On push to "main", build or change infrastructure according to Terraform configuration files
#        # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
#      - name: Terraform Apply
#        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/terraform'  }}
#        run: terraform apply -auto-approve -input=false
#        working-directory: ./terraform